.style_img {
    border-radius: 90px;
    width: 34px;
    height: 34px;
    margin-left: 19px;
}
.style_info {
    font-family: 'Montserrat';
 
    margin-right: 40px;
    margin-left: 9px;
}
.style_info p {
  margin: 0px;
}

.name {
     
   
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}